.input {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  position: relative;
}

.listItem {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}